body{

background: #49DCA7;
}
h1{
position: absolute;
width: 375px;
height: 48px;
left: 537px;
top: 80px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 48px;
color: #FFFFFF;
}

.nome{
    position: absolute;
    width: 183px;
    height: 183px;
    left: 450px;
    top: 200px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
}

.email{
     position: absolute;
    width: 183px;
    height: 183px;
    left: 450px;
    top: 300px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
}
.senha{
     position: absolute;
    width: 183px;
    height: 183px;
    left: 450px;
    top: 400px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;

}
.senha2{
   
     position: absolute;
    width: 183px;
    height: 183px;
    left: 450px;
    top: 500px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
}

input{
    border-radius: 30px;
    width: 587px;
    height: 40px;
}
.botao{
     box-sizing: border-box;
    position: absolute;
    background: #49dca7;
    border: 3px solid #ffffff;
    border-radius: 30px;
     box-sizing: border-box;
    position: absolute;
    width: 374px;
    height: 71px;
    left: 537px;
    top: 640px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:36px;
    line-height: 54px;
    color: #ffffff;
}

p{
    position: absolute;
    width: 375px;  
    height: 29px;   
    left: 555px;   
    top:700px;   
    font-family: 'Inter';  
    font-style: normal;  
    font-weight: 400; 
    font-size: 20px; 
    line-height: 29px;    
    color: #FFFEFE;
}